#crystals {
    justify-content: space-evenly;
    /* align-items: center; */
    display: flex;
    margin-top: 60px;

}

.crystal-image {
    width: 200px; 
    height: 200px;
    border: 1px solid ghostwhite;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5); 

  }

  img {
      border-radius: 8px;
  }



